.ficha {
    width: var(--layout-width);
    margin: 30px auto 14px;
    color: var(--black);
    font-size: 13.5px;
}
@media print {
    .ficha {
        margin-top: 50px;
    }
}
.ficha span {
    line-height: 1.2;
}
.ficha__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
    font-size: 15px;
}
.ficha__header-col-de-emblema {
    flex-direction: column;
    padding: 20px 0;
}
.ficha__emblema {
    margin: auto;
}
.ficha__box-descricao-de-emblema span {
    display: block;
    text-align: center;
    line-height: 1.4;
    font-weight: 700;
}
.ficha__header__col-de-pnct {
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 23px;
}
.ficha__header__col-de-pnct h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
}
.ficha__moldura-de-logo-de-pnct {
    margin-top: 7px;
}
.ficha__header__col-de-localizacao {
    display: grid;
    grid-template-rows: 25px repeat(4, 1fr);
}
.ficha__col-de-localizacao__linha {
    padding: 0 10px 0 4px;
}
.ficha__col-de-localizacao__linha--border-t {
    border-top: 1px solid var(--cor-de-borda);
    padding-top: 2px;
    margin-top: 10px;
}
.ficha__col-de-localizacao__linha input {
    flex: 1;
}
.ficha__header__col-de-titulo {
    grid-column: 1/4;
    padding: 5px 0;
    background-color: var(--black);
    color: var(--yt);
}
.ficha__seccao {
    margin-top: 8px;
}
.ficha__seccao__titulo {
    text-align: center;
    padding: 4px 0;
}
.ficha__seccao__titulo--main {
    padding: 6px 0;
    text-transform: uppercase;
    background-color: var(--black);
    color: var(--yt);
}
.ficha__seccao__titulo--color-black {
    color: var(--cor-de-texto);
}
.ficha__seccao__header {
    display: grid;
    grid-template-columns: calc(216px + 9 * 30px + 52px) 1fr;
}
.ficha__seccao__header--s1 {
    grid-template-columns: 268px repeat(8, 90px) 53px;
}
.ficha__seccao__header--s3 {
    grid-template-columns: calc(216px + 8 * 30px) 1fr;
}
.ficha__grid-template-rows-3 {
    display: grid;
    grid-template-rows: 18px repeat(2, 45px);
    text-align: center;
}
.ficha__grid-template-rows-2 {
    display: grid;
    grid-template-rows: repeat(2, 18px);
    text-align: center;
}
.ficha__grid-template-rows-2--s1 {
    grid-template-rows: 18px 90px;
}
.ficha__seccao-1__linha-de-faixas-etarias {
    display: grid;
    grid-template-columns: repeat(3, 30px);
}
.ficha__seccao-1__container-de-faixa-etaria {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.ficha__seccao-1__indicador-colunar {
    transform: rotate(-90deg) translateX(15px);
    white-space: nowrap;
}
.ficha__seccao-1__indicador-colunar--oblique {
    transform: rotate(-45deg);
}
.ficha__indicador-linear-grid-col-3 {
    grid-row: 1/3;
}
.ficha__linha-com-indicador-e-inputs {
    display: grid;
    grid-template-columns: 208px 60px repeat(9, 30px) repeat(3, 90px) repeat(6, 30px) 53px;
    overflow: hidden;
    min-height: 36px;
}
.seccao__header__col2 {
    display: grid;
    grid-template-columns: repeat(4, 125.75px);
    grid-template-rows: repeat(3, 20px);
}
.seccao__header__col2--gtc-6 {
    grid-template-columns: repeat(6, 97.5px);
}
.seccao__linha-de-titulo-faixa-etaria {
    grid-column: 1/5;
}
.seccao__linha-de-titulo-faixa-etaria--gc-6 {
    grid-column: 1/7;
}
.ficha__linha-com-indicador-e-inputs--s2, 
.ficha__linha-com-indicador-e-inputs--s4 {
    grid-template-columns: calc(216px + 9 * 30px + 52px) repeat(4, 125.75px);
}
.ficha__linha-com-indicador-e-inputs--s3 {
    grid-template-columns: calc(216px + 8 * 30px) repeat(6, 97.5px);
}
.ficha__linha-com-indicador-e-inputs span {
    padding: 1.5px 2px;
}
[data-totalgeral]:focus,
.input-celular--focus:focus,
.input-nao-celular:focus {
    border-bottom: 2px solid var(--blue);
    background-color: var(--greenyellow);
    color: var(--cor-de-texto);
}
.--bg-default {
    background-color: var(--gray-d);
}
@media screen {
    .input--realcar-totais {
        background-color: var(--cor-de-realce-de-totais);
    }
}
.input--bg-color-danger {
    background-color: var(--cor-de-risco);
    color: var(--yt)
}
.input--font-small {
    font-size: 12px
}
.ficha__rodape {
    padding: 2px;
    min-height: 101px;
    display: grid;
    grid-template-columns: 720px 1fr;
    align-items: end;
}
.ficha__rodape__col-de-nome {
    min-height: 26px;
}
.ficha__rodape__campo-de-nome {
    width: 435px;
    min-height: 22px;
}
.ficha__rodape__col-de-categoria {
    min-height: 20px;
}
.ficha__rodape__campo-de-categoria {
    width: 243px;
}
.ficha__rodape__campo-de-data {
    min-height: 26px;
}